.posts {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    margin: 40px auto;
    gap: 1px;
    justify-content: center;
    align-items: center;

    .post {
        position: relative;

        .img {
            width: 300px;
            height: 330px;
            object-fit: cover;
        }

        .overlay {
            position: absolute;
            top: 10px;
            right: 10px;
            opacity: 1;
        }
    }
}

@media (max-width:1024px) {
    .posts {
        grid-template-columns: repeat(3, 250px);

        .post {
            .img {
                height: 300px;
            }
        }
    }
}

@media (max-width:768px) {
    .posts {
        grid-template-columns: repeat(3, 200px);

        .post {
            .img {
                height: 250px;
            }
        }
    }
}

@media (max-width:650px) {
    .posts {
        grid-template-columns: repeat(3, 170px);

        .post {
            .img {
                height: 220px;
            }
        }
    }
}

@media (max-width:530px) {
    .posts {
        grid-template-columns: repeat(3, 150px);

        .post {
            .img {
                height: 200px;
            }
        }
    }
}

@media (max-width:470px) {
    .posts {
        grid-template-columns: repeat(3, 130px);

        .post {
            .img {
                height: 170px;
            }
        }
    }
}

@media (max-width:400px) {
    .posts {
        grid-template-columns: repeat(3, 120px);

        .post {
            .img {
                height: 140px;
            }
        }
    }
}